.header {
  background-color: rgb(8, 131, 189);
  background-repeat: repeat;
  color: white;
  min-height: 400px;
  padding: 120px 20px; 
  padding-bottom: 10px;
  text-align: center;
}

.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}
